<ion-tabs>
  <ion-tab [root]="firstList" tabTitle="First List" tabIcon="book"></ion-tab>
  <ion-tab [root]="secondList" tabTitle="Second List" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
