<!--
  Generated template for the FirstListPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>firstList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected">
      {{item.Name}}
    </button>
  </ion-list>
</ion-content>
